body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#screen {
    height: 100vh;
}

#inputTextField {
    width: 90%;
    height: 90%;
    text-align: center;
}

p {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .5px;
}